.rajasthan-img{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(images/assest2.jpeg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rajasthan-img>h1{
    font-size: 100px;
    font-weight: 500;
}

.rajasthan-p1{
    margin: 50px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 75px;
    overflow: hidden;
    background: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rp-img{
    height: 400px;
}

.rajasthan-p1:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 0px rgba(0,0,0,0.4);
}

.g-img{
    height:400px;
    width: 100%;
}


