body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#carouselExampleCaptions .carousel-item {
    height: 600px; 
}

#carouselExampleCaptions .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

#first-sec{
    background-image: url(images/TajMahal.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    height: 1000px;
    width: 100%;
    
}

.my-nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100px;
    font-size: 30px;
}

.my-navi>.plan-escape{
    font-size: 30px;
    font-weight: 700;
}

.my-navi>a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.myH1{
    font-family: FugazOne;
    padding-top: 200px;
    width: 100%;
    color: white;
}

.myH1>h1{
    font-size: 150px;
}

.card{
    border: 1px solid white;
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.15);
}

.card>a>img{
    height: 400px;
    width: 400px;
    border-radius: 25px;
}

.card-img-overlay>h1{
    color: white;
    width: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-top:100px ;
    font-size: 50px;
    opacity: 0;
}

.card-img-overlay:hover{
    h1{
        opacity: 100%;
    }
}

.destinationH1{
    font-family: FugazOne;
    font-size: 80px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  background-size: 60% 60%;
}
#carouselExampleIndicators{
    padding-top: 100px;
    margin-bottom: 200px;
    margin-top: 100px;
}

.testimonials{
    
    background-image: url(images/test.jpg);
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    height:900px;
    width: 100%;
    
}
.testimonials>h1{
    padding-top: 50px;
    font-family: FugazOne;
}
.test {
    width: 500px;          
    height: 300px;          
    margin: 20px auto;          
    padding: 20px 25px;          
    border-radius: 15px;         
    background: #ffffff;         
    border: none;              
    text-align: justify;     
    font-family: 'Arial', sans-serif;
    
}

.footer{
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.footer>h1{
    font-weight: 600;
}

@font-face {
    font-family: FugazOne;
    src: url(Font/FugazOne-Regular.ttf);
}


